<%- include("header") -%>
<div class="box" id="heading">
  <h1>AstroStation Productivity App</h1>
</div>

    <div class="box" id="heading">
      <h1><%= listTitle%></h1>
    </div>
    <div class="box">
      <% for (let i=0; i < newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
      </div>

      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"/>
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
    <div class="music-player">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    <h1>Pomodoro countdown</h1>
    <div id="clockdiv">
    
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
    
    <%- include("footer") -%>
